.place__website_link {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__website_link:hover {
  opacity: 0.8;
}


@media (max-width: 767px) {

  .place__website_link {
    max-width: 288px;
    height: 44px;
  }

}