.places {

  display: flex;
  flex-direction: column;
  margin-bottom: 92px;
}


@media (max-width: 1073px) {

  .places {
    margin-bottom: 90px;
  }

}

@media (max-width: 767px) {

  .places {
    margin-bottom: 66px;
  }

}