.footer__copyright {
  margin: 0;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: flex-end;
}


@media (max-width: 767px) {

  .footer__copyright {
    line-height: 14px;
  }

}