.lead__camption {
  margin: 0;
  min-width: 158px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 92px;
}


@media (max-width: 1023px) {

  .lead__camption {
    margin-left: 24px;
    margin-bottom: 88px;
  }

}

@media (max-width: 767px) {

  .lead__camption {
    margin-left: 16px;
    margin-bottom: 64px;
  }

}