.cover {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 48px;
  margin-bottom: 92px;
}


@media (max-width: 1279px) {

  .cover {
    max-width: 928px;
    padding: 0;
  }

}

@media (max-width: 1073px) {

  .cover {
    max-width: 720px;
    margin-bottom: 88px;
  }

}

@media (max-width: 767px) {

  .cover {
    max-width: 288px;
    margin-bottom: 64px;
  }

}