.cover {
  max-width: 1184px;
  padding: 0 48px;
  margin-bottom: 92px;
}


@media (max-width: 1279px) {

  .cover {
    padding: 0;
  }

}

@media (max-width: 1073px) {

  .cover {
    margin-bottom: 88px;
  }

}